.wrapper {
    position:relative;
}

.header{
    backgrounde-color:#ffffff;
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:50px;
    line-height:50px;
    z-index:100;
}

.headerInner{
    display:flex;
    justify-content:space-between;
    max-width:1200px;
    margin:0 auto;
    padding:0 16px;
}

.navList{
    display:flex;
    gap:20px;
    list-style:none;
    color:#3f6212;
}
